
    body{
    background-color: rgb(66, 66, 73);
    }
    .container{
    width: 500px;
    min-height: 560px;
    margin: 0px auto;
    position: relative;
    background-color:rgb(119, 115, 109);
    text-align: center;
     }
     .eleitor{
     background-color: rgb(20, 16, 9);
     }
     img{
     border-radius: 50%;
     padding: 5px;
     width: 150px;
    }
    b{
        color: white;
    }
    label{
        color: white;
    }
    input[type=text]{
           color: rgb(202, 197, 194);
     }
    input[type=text]:focus{
        background-color: rgb(216, 206, 206);      
     }
    .bt{
        background-color: rgb(119, 115, 109);
    }
    h3{
        color: rgb(19, 14, 14);
        text-align: center;
    }
    .btn{
        background-color: black;
        color: white;
        width: 38px;
        height: 38px;
        cursor: pointer;
    }
    .branco{
        background-color: white;
        width: 100px;
        height: 50px;
        cursor: pointer;
    }
    .laranja{
        background-color: orange;
        width: 100px;
        height: 50px;
        cursor: pointer;
    }
    .verde{
        background-color: green;
        width: 100px;
        height: 50px;
        cursor: pointer;
    }
